* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Poppins";
  color: #fff;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.content {
  position: absolute;
  display: grid;
  z-index: 1;
  height: 100%;
  width: 100%;
  align-items: center;
}
h1 {
  font-size: 5em;
  font-weight: lighter;
  margin-left: 40vw;
}
